@CHARSET "ISO-8859-1";

.grid {
    margin-top: 10px;
    font-size: 12px;
}

#dialog .grid {
    width: 100%
}

#dialog_approve_reject .grid {
    /*width: 950px;*/
    height: 300px !important;
}

/*#dialogEdit .grid {
    width: 950px;
}*/

/*#dialogAdd .grid {
    width: 950px;
}*/

/*#dialog_change_report .grid {
    width: 950px;
}*/
.group-control {
    float: left;
    padding-right: 20px;
}

.small {
    font-size: 10px;
}
.left-title {
    float: left;
    padding-right: 10px;
}
.red {
    color: red;
}
.color_minus_price {
    background-color: #008000 !important;
}
.row {
    height: 35px;
    margin-top: 10px;
}

.title {
    color: blue;
}

.title-icon:before {
    content: '\f456';
    font: normal 20px Genericons;
    top: 5px;
    margin-right: 2px;
    position: relative;
}

.errors_dialog {
    font-size: 12px;
    display: inline-block;
    overflow: hidden;
    padding: 3px 14px 7px 10px;
    background-color: #fadbdb;
    border: 2px solid #f2a8a8;
    border-radius: 6px;
    color: #ca2d2d;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}

.error-item:before {
    padding-left: 22px;
    content: '\f414';
    font: normal 14px Genericons;
    top: 2px;
    margin-right: 2px;
    position: relative;
}

.yellow-row {
    background-color: yellow!important;
}

.green-row {
    background-color: #F5A9D0 !important;
}

.red-row {
    background-color: red!important;
}

.blue-row {
    background-color: blue!important;
}

.orange-row {
    background-color: #ea8f15!important;
}

.gray-row {
    background-color: #BBB !important;
}

.pink-row {
    background-color: #FFCC99 !important;
}


.content > div > div > h1 {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 0 0 5px 0;
    font-size: 30px;
    line-height: 1;
    background-color: #fff;
    border-bottom: 1px solid;
    box-shadow: 0px 3px 4px -4px rgba(0,0,0,0.6);
}

.order-grid {
    margin-bottom: 10px;
    width: 100%;
/*#7589:Start*/
/*    height: 600px;*/
    height: 450px;
    font-size: 12px;
    font-family: '繝｡繧､繝ｪ繧ｪ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
}
/*#7589:Start*/

.text-right {
    text-align: right;
}

.submit-link {
    width: auto !important;
    background-color: transparent;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    cursor: hand;
}

.m_width{
    width: 150px!important;
}

.order-dialog .ui-widget-content{
    border: none !important;
}
.order-dialog .ui-dialog-buttonpane {
    text-align: center !important;
    padding: 0px !important;
}

.order-dialog .ui-dialog-buttonset {
    float: none !important;
}

.fixed-dialog{
    position: fixed !important;
}

#dialog-errors .error-message {
    font-size: 12px;
}
.no-padding {
    padding: 0 !important
}
.no-padding span {
    border-right: 1px solid #ddd;
    display: inline-block;
    padding: 5px 15px 5px 5px;
}
.no-padding span:last-child {
    border-right: none
}

/*
#6901 -Add -S
*/

.acceptance-dialog-error .ui-widget-content{
	border: none;

}

.acceptance-dialog-error  .ui-dialog-buttonpane .ui-dialog-buttonset{
	text-align: center;
	float:none;
	margin-left: 12px;
}

.a-center input[type="checkbox"] {
    height: auto !important;
    margin-left: 0 !important
}
/*
#6901 -Add -E
*/

/*#7589:Start*/
#message_alert {
    display: none;
}
/*#7589:End*/