{include file = "inc/header.tpl"}
{include file = "inc/top-header.tpl"}
{include file = "inc/nav-left.tpl"}
<div class="cell content">
        <div>
            <h1>Home</h1>
        </div>
</div>
{include file = "inc/footer.tpl"}