@charset "utf-8";
/* PC CSS SET [UPSWDV] */

/* ----------------------------------------------------------- *\
    @base
\* ----------------------------------------------------------- */
body {
  font-size: 14px;
  word-wrap: break-word;
    font-family: 'メイリオ','Hiragino Kaku Gothic ProN W3', Arial, Helvetica, sans-serif;
  color: #333;
}
a {
  text-decoration: underline;
    cursor: pointer;
}

a:link {
  color: #03C;
}

a:visited {
  color: #03C;
}

a:hover {
  color: #69F;
}

strong {
  font-weight: bold;
}

.legend {
    color: #999;
    font-size: 10px;
}

.fixed {
    position: fixed !important;
}

/* ----------------------------------------------------------- *\
    @layout
\* ----------------------------------------------------------- */
.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-height: 430px;
    min-width: 900px;
    background-color: #fff;
}

.cell {
    /*display: table-cell;
    vertical-align: top;
    font-size: 14px;*/
}

.content {
    background-color: #fff;
    background-clip: content-box;
    margin: 70px 0;
}

.content > div {
    padding: 20px;
}

.slide-right {
    padding-left: 200px;
}

/* ----------------------------------------------------------- *\
    @header
\* ----------------------------------------------------------- */
.header {
    font-size: 0;
    border-bottom: 1px solid #fff;
    background-color:#4493D0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.header > div {
    display: table;
    width: 100%;
}

.header > div > div {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
    font-size: 16px;
}

.header > div > div.head-btn-nav {
    width: 30px;
    background-color: rgba(255,255,255,0.2)
}

.header > div > div.logo {
    text-align: left;
    padding-left: 20px;
    line-height: 0;
}

.header > div > div.title {
  font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
    text-align: right;
    color: #fff;
}

.header > div > div.title > a.head-btn-logout {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px 4px 10px;
    border: 1px solid #fff;
    border-radius: 99px;
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    vertical-align: baseline;
    transition: 0.3s linear;
}

.header > div > div.title > a.head-btn-logout span {
    display: inline-block;
    margin: 0 3px 0 0;
}

.header > div > div.title > a.head-btn-logout:hover {
    background-color: rgba(255,255,255,0.3);
}


/* ----------------------------------------------------------- *\
    @footer
\* ----------------------------------------------------------- */
.footer {
    border-top: 1px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-color:#4493D0;
    position: fixed;
    z-index: 100;
    bottom: 0px;
    width: 100%;
}

.footer > div {
  font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
    min-width: 900px;
    padding: 10px;
    color: rgba(255,255,255,0.7);
    color: #fff\9; /* IE8 以下 */
    text-align: center;
}

/* ----------------------------------------------------------- *\
    @global nav btn
\* ----------------------------------------------------------- */
#slide-left-btn {
    position: relative;
    display: inline-block;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 99px;
    background-color: rgba(255,255,255,0);
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s linear;
}

#slide-left-btn:hover {
    background-color: rgba(255,255,255,0.3);
}

#slide-left-btn > span {
    font-size: 24px;
    color: #fff;
    line-height: 1;
}


/* ----------------------------------------------------------- *\
    @global nav left
\* ----------------------------------------------------------- */
.slide-left-col {
    border-right: 1px solid #fff;
    /*background-color: rgba(0,0,0,0.4);*/
    background-color: #1A69AB;
    float: left;
    height: 100%;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    position: fixed;
    margin: 60px 0;
    z-index: 1;
}


.slide-left-col > div {
  font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
    overflow: hidden;
    white-space: nowrap;
    transition: .5s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.slide-left-col > div.close {
    width: 0;
}

.slide-left-col > div > h3 {
    color: rgba(255,255,255,0.7);
    padding: 8px 10px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid #ddd\9; /* IE8 以下 */
    cursor: pointer;
    transition: 0.3s;
}

.slide-left-col > div > h3:hover {
    background-color: rgba(255,255,255,0.1);
}

.slide-left-col > div > h3:first-child {
    border-top: none;
}

.slide-left-col > div > h3:before {
    content: '\f510';
    display: inline-block;
    font: normal 16px Genericons;
    top: 3px;
    margin-right: 2px;
    position: relative;
}

.slide-left-col > div > .on:before {
    content: '\f50e';
}
.slide-left-col > div > ul {
    display: none;
    background-color: rgba(255,255,255,0.06);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid #ddd\9; /* IE8 以下 */
}

.slide-left-col > div > ul.open {
    display: block;
}

.slide-left-col > div > ul > li > a {
    display: block;
    padding: 6px 10px 8px 20px;
    border-left: 3px solid rgba(255,255,255,0);
    text-decoration: none;
    line-height: 1;
    transition: .3s ease-out;
}

.slide-left-col > div > ul > li > a:before {
    content: '\f431';
    display: inline-block;
    font: normal 16px Genericons;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.slide-left-col > div > ul > li > a:link,
.slide-left-col > div > ul > li > a:visited {
    color: rgba(255,255,255,0.7);
}

.slide-left-col > div > ul > li > a:hover {
    color: rgba(255,255,255,0.8);
    background-color: rgba(255,255,255,0.08);
    border-left: 3px solid rgba(255,255,255,0.4);
}

/* ----------------------------------------------------------- *\
    @dropnav
\* ----------------------------------------------------------- */
.dropnav {
    min-width: 900px;
}

.dropnav > div {
  font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
    background-color: rgba(0,0,0,0.4);
    background-color: #ddd\9; /* IE8 以下 */
    border-bottom: 1px solid #fff;
}

.dropnav > div > ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.dropnav > div > ul > li {
    display: table-cell;
    position: relative;
}

.dropnav > div > ul > li > h3 {
    padding: 10px;
    text-align: center;
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    line-height: 1;
    transition: .3s ease-out;
    cursor: pointer;
}

.dropnav > div > ul > li > h3:hover {
    color: rgba(255,255,255,0.8);
    background-color: rgba(255,255,255,0.08);
}

.dropnav > div > ul > li > ul {
    z-index: 999;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .2s ease-in;
}

.dropnav > div > ul > li:last-child > ul{
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
}

.dropnav > div > ul > li:hover > ul {
    visibility: visible;
    opacity: 1;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}

.dropnav > div > ul > li > ul > li > a {
    display: block;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.1);
    border: 1px solid #999\9; /* IE8 以下 */
    border-top: none\9; /* IE8 以下 */
    background-color: rgba(0,0,0,0.2);
    background-color: #eee\9; /* IE8 以下 */
    text-decoration: none;
    line-height: 1;
    text-align: left;
    transition: .3s ease-out;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.dropnav > div > ul > li > ul > li > a:link,
.dropnav > div > ul > li > ul > li > a:visited {
    color: rgba(255,255,255,0.7);
}

.dropnav > div > ul > li > ul > li > a:hover {
    color: rgba(255,255,255,0.9);
    background-color: rgba(255,255,255,0.08);
}

/* ----------------------------------------------------------- *\
    @alert
\* ----------------------------------------------------------- */
.alert {
    display: none;
    position: fixed;
    z-index: 998;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    background-color: #000\9; /* IE8 以下 */
}

.alert-on {
    display: block;
}

.alert > div {
    display: inline-table;
    position: absolute;
    top: 0;
    top: 100px\9; /* IE8 以下 */
    bottom: 0;
    left: 0;
    left: 40%\9; /* IE8 以下 */
    right: 0;
    margin: auto;
    z-index: 999;
    width: 400px;
    padding: 30px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 8px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.alert > div > p.subject {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.alert > div > p.body {
    color: #666;
    margin-bottom: 30px;
    text-align: left;
}

div#success_msg {
    border: 2px solid rgb(0, 100, 0);
    padding: 7px;
    margin: 15px 0;
    font-size: 0.8em;
    color: rgb(0, 100, 0);
}

div#error_msg {
    border: 2px solid rgb(211, 75, 51);
    padding: 7px;
    margin: 15px 0;
    font-size: 0.8em;
    color: rgb(211, 75, 51);
}

ul.listbox-disable {
    border: 1px solid #a9a9a9;
    background: #ebebe4;
}

ul.listbox-disable li {
    padding: 2px 10px;
}

.txt-center {
    vertical-align: middle;
    height: 25px;
    width: 75px;
}

.txt-center-main {
    vertical-align: middle;
    /*height: 29px;*/
}

.e-top {
    vertical-align: top !important;
    height: 25.8px !important
}

.e-width {
    width: 110px !important;
}

.e-control {
    vertical-align: top;
    height: 27px !important;
    width: 60px !important;
}

.m-height {
    vertical-align: top;
    height: 27px !important;
}


@-moz-document url-prefix() {
  .e-top {
    vertical-align: top !important;
    height: 27.6px !important
  }
}

@-moz-document url-prefix() {
  .a-padding-left {
      padding-left: 2px;
  }
}
.max-width {
    max-width: 150px;
    vertical-align: top;
    /*text-overflow: ellipsis;*/
    word-wrap: break-word
}
.ajax-loading {
    margin: 10px 0;
    display: none
}
.grid-order {
    height: auto !important;
    margin: 0 !important;
    width: 100% !important;
    font-size: 12px !important;
    font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
}
.grid-order .ui-grid-viewport {
    height: 320px !important
}

/*#7589:Start*/

@media screen and (min-width: 1008px) and (min-height: 655px) {
    .grid-viewport-height {
        height: 440px !important;
    }
}

@media screen and (min-width: 1136px) and (min-height: 751px) {
    .grid-viewport-height {
        height: 550px !important;
    }
}

@media screen and (min-width: 1264px) and (min-height: 600px) {
    .grid-viewport-height {
        height: 370px !important;
    }
}

@media screen and (min-width: 1264px) and (min-height: 655px) {
    .grid-viewport-height {
        height: 470px !important;
    }
}

@media screen and (min-width: 1264px) and (min-height: 687px) {
    .grid-viewport-height {
        height: 500px !important;
    }
}

@media screen and (min-width: 1264px) and (min-height: 847px) {
    .grid-viewport-height {
        height: 650px !important;
    }
}

@media screen and (min-width: 1264px) and (min-height: 911px) {
    .grid-viewport-height {
        height: 720px !important;
    }
}

@media screen and (min-width: 1344px) and (min-height: 655px) {
    .grid-viewport-height {
        height: 470px !important;
    }
}

@media screen and (min-width: 1366px) and (min-height: 643px) {
    .grid-viewport-height {
        height: 450px !important;
    }
}

@media screen and (min-width: 1384px) and (min-height: 787px) {
    .grid-viewport-height {
        height: 600px !important;
    }
}

@media screen and (min-width: 1384px) and (min-height: 937px) {
    .grid-viewport-height {
        height: 720px !important;
    }
}

@media screen and (min-width: 1584px) and (min-height: 787px) {
    .grid-viewport-height {
        height: 600px !important;
    }
}

@media screen and (min-width: 1664px) and (min-height: 937px) {
    .grid-viewport-height {
        height: 720px !important;
    }
}

@media screen and (min-width: 1920px) and (min-height: 955px) {
    .grid-viewport-height{
        height: 750px !important;
    }
}
/*#7589:End*/