.calendar-search-wrapper {
    margin-bottom: 10px;
}

.calendar-search-wrapper table{
    border: 1px solid #000;
    display: inline-table;
}

.calendar-search-wrapper table select {
    width: 100%;
    height: 100%;
    /*border: none;*/
    /*outline: none;*/
}

.calendar-search-wrapper button {
    vertical-align: top;
}

.calendar-check-day-wrapper table {
    border: 1px solid #000;
    margin-bottom: 10px;
}

.calendar-check-day-wrapper table td label{
    padding-left: 10px;
}

.calendar-top-filter {
    border: 1px solid #000;
    width: 470px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

table.holiday-calendar {
    display: inline-table;
    width: 228px;
    margin: 10px;
}

table.holiday-calendar tr th {
    background: #F5F6EA;
    height: 30px;
    padding-left: 10px;
    font-weight: bold;
    font-size: small;
}

table.holiday-calendar .weekday {
    background: #DCDCDC;
    height: 25px;
    font-size: small;
}

table.holiday-calendar td {
    text-align: center;
    border-bottom: 1px solid #F1F1F1;
}

.holiday-day {
    color: red;
}

table.holiday-calendar .date {
    cursor: pointer;
}

.warning {
    color: red;
}