.table-search-invoice {
    margin-bottom: 10px;
}

.table-search-invoice tr {
    height: 40px;
}

.table-search-invoice tr td {
    padding: 10px;
}

.peer-cbx {
    display: inline;
    margin-right: 50px;
}

.negative-num {
    color: red;
}

.discarded {
    background-color: #808080 !important;
}

.rejected {
    background-color: #C0C0C0 !important;
}

/********************************* TEMPLATE *********************************************/



/********************************* END TEMPLATE *****************************************/

.summary-wrapper span {
    margin-right: 45px;
}

.invoice-grid {
    margin-bottom: 10px;
    width: 100%;
    height: 300px;
    font-size: 12px;
    font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
}

.m_width{
    width: 150px;
}
