@charset "utf-8";
/* PC CSS SET [UPSWDV] */

/* ----------------------------------------------------------- *\
    @h
\* ----------------------------------------------------------- */
.content > div > h1 {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 0 0 5px 0;
    font-size: 30px;
    line-height: 1;
    background-color: #fff;
    border-bottom: 1px solid;
    box-shadow: 0px 3px 4px -4px rgba(0,0,0,0.6);
}

.content > div > h2 {
    margin-bottom: 15px;
    padding: 4px 6px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    border-left: 5px solid;
}

.content > div > h3 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
}
.table-simple td h3{
  margin-bottom: 10px;
  padding: 4px 6px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  border-left: 5px solid;
  border-color: rgb(145, 35, 74);
}

/* ----------------------------------------------------------- *\
    @align
\* ----------------------------------------------------------- */
.a-left {
    text-align: left;
}

.a-center {
    text-align: center;
}

.a-top {
    vertical-align: top;
}

.a-right {
    text-align: right;
}

/* ----------------------------------------------------------- *\
    @caution
\* ----------------------------------------------------------- */
.caution {
    display: inline-block;
    overflow: hidden;
    padding: 3px 14px 7px 10px;
    background-color: #fadbdb;
    border: 2px solid #f2a8a8;
    border-radius: 6px;
    color: #ca2d2d;
    vertical-align: middle;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.caution:before {
    /*content: '\f456';*/
    display: inline-block;
    font: normal 20px Genericons;
    top: 5px;
    margin-right: 2px;
    position: relative;
}

.error-message {
    font-size: 12px;
    display: inline-block;
    overflow: hidden;
    padding: 3px 14px 7px 10px;
    background-color: #fadbdb;
    border: 2px solid #f2a8a8;
    border-radius: 6px;
    color: #ca2d2d;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}

.error-message:before {
    /*content: '\f456';*/
    display: inline-block;
    font: normal 20px Genericons;
    top: 5px;
    margin-right: 2px;
    position: relative;
}

.success-message {
    display: inline-block;
    overflow: hidden;
    padding: 3px 14px 7px 10px;
    background-color: #1A69AB;
    border: 2px solid #1A69AB;
    border-radius: 6px;
    color: #fff;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}


.success-message:before {
    content: '\f456';
    display: inline-block;
    font: normal 20px Genericons;
    top: 5px;
    margin-right: 2px;
    position: relative;
}

.warning-message {
    display: inline-block;
    overflow: hidden;
    padding: 3px 14px 7px 10px;
    background-color: #fadbdb;
    border: 2px solid #f2a8a8;
    border-radius: 6px;
    color: #ca2d2d;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px
}

.warning-message:before {
    content: '\f456';
    display: inline-block;
    font: normal 20px Genericons;
    top: 5px;
    margin-right: 2px;
    position: relative;
}
/* ----------------------------------------------------------- *\
    @txt
\* ----------------------------------------------------------- */
.txt-small { font-size: 11px; }
.txt-large { font-size: 20px; }
.txt-xlarge { font-size: 26px; }

.txt-bold { font-weight: bold; }
.txt-theme { /* theme.js */ }
.txt-red { color: #e92106; }
.txt-gray { color: #bbb; }


/* ----------------------------------------------------------- *\
    @list
\* ----------------------------------------------------------- */
.list-disc {
    list-style-type: disc;
    margin: 0 0 0 1.2em;
}

.list-square {
    list-style-type: square;
    margin: 0 0 0 1.2em;
}

.list-decimal {
    list-style-type: decimal;
    margin: 0 0 0 1.3em;
}

.list-upper-alpha {
    list-style-type: upper-alpha;
    margin: 0 0 0 1.4em;
}

.list-lower-alpha {
    list-style-type: lower-alpha;
    margin: 0 0 0 1.3em;
}

/* ----------------------------------------------------------- *\
    @table
\* ----------------------------------------------------------- */
.content > div > table .nowrap {
    white-space: nowrap;
}

.content > div > table.odd tr:nth-of-type(odd) {
    background-color: #f1f1f1;
}

.content > div > table.ltd tr > td:first-child {
    background-color: #f1f1f1;
}

/* ----------------------------------------------------------- *\
    @table blank
\* ----------------------------------------------------------- */
.table-blank th {
    font-weight: bold;
}

.table-blank td {
    padding: 0 10px 10px 0;
}

/* ----------------------------------------------------------- *\
    @table underline
\* ----------------------------------------------------------- */
.table-underline th,
.table-underline td {
    border-bottom: 1px solid #999;
    padding: 5px;
}
#tbl_checkbox td {
    border: none;
}
.table-underline th {
    font-weight: bold;
    background-color: #ddd;
}

/* ----------------------------------------------------------- *\
    @table simple
\* ----------------------------------------------------------- */
.table-simple th,
.table-simple td {
    border: 1px solid #ddd;
    padding: 5px;
}

.table-simple th {
    font-weight: bold;
    background-color: rgb(26, 105, 171);
    color: #fff;
}

/* ----------------------------------------------------------- *\
    @table simple
\* ----------------------------------------------------------- */
.table-theme th,
.table-theme td {
    border: 1px solid #222;
    padding: 5px;
}

.table-authority-features th
{
    font-size: 13px;
    line-height: 115%;
}

.table-theme th {
    color: #fff;
    font-weight: normal;
    /*text-shadow: 0px 1px 2px rgba(0,0,0,0.8);*/
    background-color: rgb(26, 105, 171);
}

.table-theme td .header-form {
    display: inline-flex;
}

.table-theme td .footer-form {
    display: inline-flex;
}
.left_td_table_au {
    background-color: #286B49;
    color: rgba(255,255,255,0.8);
    min-width: 150px;
}

/* ----------------------------------------------------------- *\
    @hr
\* ----------------------------------------------------------- */
hr.blank {
  height: 1px;
  border: none;
  margin: 0px 0px;
}

hr.blank-10px {
  height: 1px;
  border: none;
  margin: 5px 0px;
}

hr.blank-20px {
  height: 1px;
  border: none;
  margin: 10px 0px;
}

hr.blank-30px {
  height: 1px;
  border: none;
  margin: 15px 0px;
}

hr.blank-40px {
  height: 1px;
  border: none;
  margin: 20px 0px;
}

hr.blank-50px {
  height: 1px;
  border: none;
  margin: 25px 0px;
}

hr.line-solid {
  height: 1px;
  border: none;
  border-bottom: 1px solid #CCC;
  margin: 10px 0px;
}

hr.line-dotted {
  height: 1px;
  border: none;
  border-bottom: 2px dotted #CCC;
  margin: 10px 0px;
}

/* ----------------------------------------------------------- *\
    @button
\* ----------------------------------------------------------- */
a.btn-small {
    display: inline-block;
    margin: 0 3px;
    padding: 5px 10px 4px 10px;
    color: #fff;
    font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    border-radius: 4px;
    transition: 0.3s;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
@-moz-document url-prefix() {
  a.btn-small {
    display: inline-block;
    margin: 0 3px;
    padding: 5px 10px 4px 10px;
    color: #fff;
    font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 1.5;
    border-radius: 4px;
    transition: 0.3s;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: 28.5px;
    vertical-align: middle;
  }

  .ui-dialog-content a {
      line-height: 1;
  }

}

a.btn-medium {
    display: inline-block;
    margin: 0 3px;
    padding: 8px 14px 7px 14px;
    font-size: 18px;
    font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    border-radius: 5px;
    transition: 0.3s;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

a.btn-large {
    display: inline-block;
    margin: 0 3px;
    padding: 10px 18px 9px 18px;
    font-size: 26px;
    font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    border-radius: 7px;
    transition: 0.3s;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

a.btn-theme { color: #fff;    border: 1px solid; }
a.btn-theme:hover { background: none !important; }

a.btn-red { color: #fff; background-color: #e92106; border: 1px solid #e92106; }
a.btn-red:hover { color: #e92106; background: none !important; }

a.btn-orange { color: #fff; background-color: #f3942d; border: 1px solid #f3942d; }
a.btn-orange:hover { color: #f3942d; background: none !important; }

a.btn-green { color: #fff!important; background-color: #1EB9E7; border: 1px solid #1EB9E7; }
a.btn-green:hover { color: #1EB9E7!important; background: none !important; }

a.btn-blue { color: #fff; background-color: #217ce5; border: 1px solid #217ce5; }
a.btn-blue:hover { color: #217ce5; background: none !important; }

a.btn-gray { color: #fff; background-color: #bbb; border: 1px solid #bbb; }
a.btn-gray:hover { color: #bbb; background: none !important; }

/* ----------------------------------------------------------- *\
    @pager
\* ----------------------------------------------------------- */
.pager {
    margin: 20px 0;
    font-size: 0;
}

.pager > li {
    display: inline-block;
    margin: 0 6px 0 0;
    line-height: 1;
}

.pager > li > a {
    display: block;
    font-size: 16px;
    padding: 8px 12px;
    border: 1px solid #999;
    border-radius: 99px;
    color: #666;
    text-decoration: none;
    transition: 0.3s;
}

.pager > li > a:hover {
    background-color: #eee;
    border: 1px solid #ccc;
}

.pager > li.active {
    font-size: 16px;
    padding: 8px 12px;
    border: 1px solid;
    border-radius: 99px;
    color: #fff;
}

.pager > li.clear {
    font-size: 16px;
    padding: 11px 0;
}

.pager > li > a > .genericon {
    font-size: 16px;
}

.pager > li > button {
    display: block;
    font-size: 16px;
    padding: 8px 12px;
    border: 1px solid #999;
    border-radius: 99px;
    color: #666;
    text-decoration: none;
    transition: 0.3s;
}

.pager > li > button:hover {
    background-color: #eee;
    border: 1px solid #ccc;
}

.pager > li > button.active {
    background-color: rgb(68, 147, 208);
    font-size: 16px;
    padding: 8px 12px;
    border: 1px solid;
    border-radius: 99px;
    color: #fff;
}
/* ----------------------------------------------------------- *\
    @selectbox
\* ----------------------------------------------------------- */
.selectbox {
    padding: 4px 22px 4px 12px;
    border: 1px solid #999;
    border-radius: 99px;
    background: url(../img/select-arrow.svg) no-repeat right 6px center;
    font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
    font-size: 16px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.selectbox:hover {
    background-color: #eee;
    border: 1px solid #ccc;
}

.selectbox::-ms-expand {
  display: none;
}

.validation-error {
    display: inline-block;
    overflow: hidden;
    padding: 3px 14px 7px 10px;
    color: #ca2d2d;
    vertical-align: middle;
    font-size:13px;
    margin: 3px 0 3px 0px;
}

.validation-error:before {
    content: '\f414';
    display: inline-block;
    font: normal 14px Genericons;
    top: 2px;
    margin-right: 2px;
    position: relative;
}

.sequence {
    width: 60px;
    text-align: center;
}
.action-active {
    background-color: #1EB9E7;
}

input.error {
    background-color : #EC3C09;
    border: 1px solid #848484;
    outline:0;
}
a.btn-disable:before {
    /*content: "\f446";*/
    font: normal 15px Genericons;
    vertical-align: top;
    margin-left: -8px;
}
a.btn-disable {
    color: #e92106;
    background: none !important;
    border: 1px solid #e92106;
    height: 28px;
    cursor: no-drop;
}
.btn-back:before {
    /*content: '\f467';*/
    font: normal 12px Genericons;
    vertical-align: top;
    margin-left: -8px;
}
.btn-edit:before {
    /*content: '\f411';*/
    font: normal 13px Genericons;
    vertical-align: top;
    margin-left: -8px;
}
.btn-save:before {
    /*content: '\f454';*/
    font: normal 13px Genericons;
    vertical-align: top;
    margin-left: -8px;
}
.btn-view:before {
    /*content: '\f403';*/
    font: normal 12px Genericons;
    vertical-align: top;
    margin-left: -8px;
}
.btn-update-sequence:before {
    /*content: '\f420';*/
    font: normal 13px Genericons;
    vertical-align: top;
    margin-left: -8px;
}
.btn-add:before {
    /*content: '\f510';*/
    font: normal 13px Genericons;
    vertical-align: top;
    margin-left: -8px;
}
.btn-search:before {
    /*content: '\f400';*/
    font: normal 13px Genericons;
    vertical-align: top;
    margin-left: -8px;
}
.btn-downloads:before {
    display:inline-block;
    /*content: '\f50b';*/
    font: normal 13px Genericons;
    width: 15px;
    height: 15px
}
.btn-downloads {
    cursor: pointer
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
    transform:rotate(0deg);
}
to { transform:rotate(360deg);}
}
.icon-spin:before {
    display:inline-block;
    -webkit-animation:spin 1.5s infinite linear;
    -moz-animation:spin 1.5s infinite linear;
    -o-animation:spin 1.5s infinite linear;
    animation:spin 1.5s infinite linear
}
.loading:before {
    content: '\f420';
    font: normal 13px Genericons;
    width: 15px;
    height: 15px
}
/* ----------------------------------------------------------- *\
    @Button
\* ----------------------------------------------------------- */
button.btn-small {
    display: inline-block;
    margin: 0 2px;
    padding: 5px 10px 4px 10px;
    color: #fff;
    font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    border-radius: 4px;
    transition: 0.3s;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

}
button.btn-copy {
    padding: 5px 5px 4px 10px !important;
}
@-moz-document url-prefix() {
button.btn-small {
    display: inline-block;
    margin: 0 2px;
    padding: 5px 9px 4px 9px;
    color: #fff;
    font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif !important;
    text-decoration: none;
    text-align: center;
    /*line-height: 1.5;*/
    border-radius: 4px;
    transition: 0.3s;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: 28.5px;
    vertical-align: middle;

}
}
button.btn-medium {
    display: inline-block;
    margin: 0 3px;
    padding: 8px 14px 7px 14px;
    font-size: 18px;
    font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    border-radius: 5px;
    transition: 0.3s;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

button.btn-large {
    display: inline-block;
    margin: 0 3px;
    padding: 10px 18px 9px 18px;
    font-size: 26px;
    font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    border-radius: 7px;
    transition: 0.3s;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

button.btn-disable:before {
    /*content: "\f446";*/
    font: normal 13px Genericons;
    vertical-align: top;
    margin-left: -8px;
}
button.btn-disable {
    color: #e92106;
    background: none !important;
    border: 1px solid #e92106;
    height: 24px;
    cursor: no-drop;
}

button.btn-theme { color: #fff;    border: 1px solid; }
button.btn-theme:hover { background: none !important; }

button.btn-red { color: #fff; background-color: #e92106; border: 1px solid #e92106; }
button.btn-red:hover { color: #e92106; background: none !important; }

button.btn-orange { color: #fff; background-color: #f3942d; border: 1px solid #f3942d; }
button.btn-orange:hover { color: #f3942d; background: none !important; }

button.btn-green { color: #fff; background-color: #1EB9E7; border: 1px solid #1EB9E7; }
button.btn-green:hover { color: #1EB9E7; background: none !important; }

button.btn-blue { color: #fff; background-color: #217ce5; border: 1px solid #217ce5; }
button.btn-blue:hover { color: #217ce5; background: none !important; }

button.btn-gray { color: #fff; background-color: #bbb; border: 1px solid #bbb; }
button.btn-gray:hover { color: #bbb; background: none !important; }
.align-button {
    display: inline-flex;
}

/*=======================================================================*/

.red-symbol {
    color: red;
    font-weight: bold;
}

.gui_parts_element_detail {
    border:1px solid #000;
}

.gui_parts_element_detail tr {
    height: 30px;
}

.gui_parts_element_detail td {
    border-right: 1px solid #000;
    padding: 10px;
    min-width: 100px;
}

.inline-form {
    display: inline;
}

.not-show {
    display: none;
}

.btn-delete:before {
    /*content: '\f446';*/
    font: normal 13px Genericons;
    vertical-align: top;
    margin-left: -8px;
}

.btn-close:before {
    /*content: '\f405';*/
    font: normal 13px Genericons;
    vertical-align: top;
    margin-left: -8px;
}
.fancybox_wrapper{
    display: none;
}

.alert-success {
    color: blue;
}

.alert-error {
    color: red;
}
/*-----------------------------------------------------------------------------------------*/
.div_wrapper_au_fe {
    overflow-x: scroll;
    width:100%;
}
.float_left {
    float: left;
}
.table-simple td h2 {
    /*margin-bottom: 15px;*/
    padding: 4px 6px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    border-left: 5px solid;
    border-color: #1A69AB;
}
.pre-wrap {
    white-space: pre-wrap;
}
.tbl_checkbox {
    margin-bottom: 15px;
}
.tbl_search_advance_payment td {
    padding: 15px;
}
.tbl_advance_payment {
    width: auto;
}
.tbl_client {
    border:none;
}
.tbl_client td {
    border: none;
    vertical-align: top;
}
/*-----------------ANIMATION--------------------*/
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.search-tooltip {
    font-size: 10px;
    color: #808080;
}


.br-10px {
    margin-bottom: 10px;
    display: block;
    content: "";
}

.search-wrapper {
    margin-bottom: 10px;
}

.watermark {
    position: absolute;
    top : 40px;
    font-size: 1em;
    width: 100%;
    text-align: center;
    z-index: 1000;
    display: none;
}

.show-watermark {
    display: block;
}

.fixed-dialog{
  position: fixed !important;
}