@charset "utf-8";
/* PC CSS SET [UPSWDV] */

/* ----------------------------------------------------------- *\
    @login
\* ----------------------------------------------------------- */
body {
    background-color: rgb(68, 147, 208);
}
.header > div > div.head-btn-nav,
.header > div > div.title > a.head-btn-logout,
.dropnav,
.slide-left-col {
    display: none;
}

.login-footer {
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}

.login-wrapper {
    /*position: absolute;*/
    top: 200px;
    left: 0;
    right: 0;
    margin: 100px  auto 100px auto;
    padding: 30px;
    width: 460px;
    border: 1px solid #fff;
    border-radius: 9px;
    color: #fff;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
}

.login-wrapper .login-form .logo {
    width: 340px;
    margin: auto;
}

.login-wrapper .login-form .logo img {
    max-width: 340px;
}

.login-wrapper .login-form .title {
    font-size: 13px;
    margin-bottom: 20px;
}

.login-wrapper .login-form table {
    width: 100%;
}

.login-wrapper .login-form table td {
    padding: 8px;
    font-size: 20px;
    vertical-align: text-top;
    width: 200px;
}
.login-wrapper .login-form table td div.caution {
    text-align: left !important;
    font-size: 14px;
}

.login-wrapper .login-form table td .a-center {
    text-align: center !important;
}

.login-wrapper .login-form table td:nth-of-type(odd) {
    text-align: right;
}

.login-wrapper .login-form table td:nth-of-type(even) {
    text-align: left;
}

.login-wrapper .login-form input[type="text"] {
    border: 1px solid #fff;
    border-radius: 99px;
    background-color: rgba(0,0,0,0.1);
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    width: 200px;
    transition: .2s;
}

.login-wrapper .login-form input[type="text"]:focus {
    background-color: rgba(0,0,0,0.3);
    outline: none;
}

.login-wrapper .login-form input[type="password"] {
    border: 1px solid #fff;
    border-radius: 99px;
    background-color: rgba(0,0,0,0.1);
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    width: 200px;
    transition: .2s;
}

.login-wrapper .login-form input[type="password"]:focus {
    background-color: rgba(0,0,0,0.3);
    outline: none;
}

.login-wrapper .login-form input[type="submit"] {
    border: 1px solid #fff;
    border-radius: 99px;
    background-color: #fff;
    margin-top: 10px;
    padding: 10px 50px;
    font-size: 18px;
    transition: .2s;
}

.login-wrapper .login-form input[type="submit"]:hover {
    background-color: rgba(255,255,255,0.7);
}

.login-wrapper .login-form a {
    border: 1px solid #fff;
    border-radius: 99px;
    background-color: #fff;
    margin-top: 10px;
    padding: 7px 28px;
    font-size: 18px;
    transition: .2s;
    text-decoration: none;
    color: #ca2d2d;
}

.login-wrapper .login-form a:hover {
    background-color: rgba(255,255,255,0.7);
}