.import-container {
    border: 1px solid #000;
    padding: 10px;
    display: inline-block;
}

.table-import {
    /*width: 80%;*/
}

#file-path {
    border: 1px solid #aaaaaa;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    padding-left: 10px;
}

#upload-file {
    margin: 10px;
}

.import-propress-bar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-import .ui-progressbar {
    position: relative;
}

.import-propress-bar .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
}

.table-input-order-acceptance {
    margin-bottom: 10px;
}

.table-input-order-acceptance tr td{
    padding: 10px;
}

.checkbox-label {
    margin-right: 10px;
}
.checkbox-combobox {
    margin-right: 20px;
}

.order-acceptance-tooltip {
    font-size: 10px;
    color: #808080;
}

.br-10px {
    margin-bottom: 10px;
    display: block;
    content: "";
}

.large-width-wrapper {
    width: 100%;
    overflow-x: scroll;
}

.table-choose {
    text-align: center;
}

.table-choose tr th,
.table-choose tr td{
    white-space: nowrap;
    padding: 5px;
}

.import-error {
    padding-left: 22px;
}
.import-error .validation-error {
    font-size: 12px;
    padding: 0px;
}

#dialog-errors .error-message {
    font-size: 12px;
}

.new-grid-row {
    background: #C9DDE1 !important;
}

.messages-error {
    color: red;
    border: 1px solid red;
}

.row-error {
    color: red !important;
}
.row-error .no-link:hover {
    color: red !important;
}

.order-acceptance-grid {
    margin-bottom: 10px;
    width: 100%;
/*#7689:Start*/
/*    height: 600px;*/
    height: 450px;
    font-size: 12px;
    font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
}
/*#7689:End*/

.order-acceptance-grid input[type="text"] {
    height: 30px !important;
}

.ui-grid-pager-container {
    display: none !important;
}

input.ng-scope {
    line-height: 30px !important;
}

select.ng-scope {
    height: 30px !important;
}

.cell-line-height {
    padding-left: 5px !important;
    padding-right: 5px !important;
    line-height: 30px !important;
}

.center-checkbox-wrapper {
    text-align: center;
    vertical-align: middle;
    margin-left: -5px;
}

.action-btn-wrapper {
    /*text-align: center;*/
}

.row-error-icon:before {
    content: '\f456';
    display: inline-block;
    font: normal 20px Genericons;
    top: 5px;
    margin-right: 2px;
    position: relative;
}

.watermark {
    position: absolute;
    top : 40px;
    font-size: 1em;
    width: 100%;
    text-align: center;
    z-index: 1000;
    display: none;
}

.show-watermark {
    display: block;
}

.no-link {
    text-decoration: none;
    cursor: text;
}
.no-link:hover {
    color: #333;
}

/*#dialog .grid {
    width: 950px;
}*/

.ui-dialog-content .grid .ui-grid-render-container-body .ui-grid-viewport {
    height: 321px !important
}

.red-row {
    background-color: #fadbdb!important;
    color: #ca2d2d;
}

.input-wrapper {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    /*Using a background color, but you can use a background image to represent a button*/
    background-color: #1EB9E7;
    color: #FFF;
    display: inline-block;
    padding: 5px 10px 4px 10px;
    border-radius: 4px;
    font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
    line-height: 1;
    vertical-align: middle;

}
@-moz-document url-prefix() {
    .input-wrapper {
        line-height: 1.4;
    }
}
.file-input {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size:50px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}
@keyframes animate-stripes {
    0% {background-position: 40px 0;}
    100% {background-position: 0 0;}
}
.acceptance-dialog .ui-widget-content{
    border: none !important;
}
.acceptance-dialog .ui-dialog-buttonpane {
    text-align: center !important;
    padding: 0px !important;
}

.acceptance-dialog .ui-dialog-buttonset {
    float: none !important;
}

.row-deleting {
    background: #B0B0B0 !important;
}

.hide-btn {
    /*opacity: 0;*/
    background: none !important;
    color: #1EB9E7 !important;
}

.fixed-dialog{
    position: fixed !important;
}