.finish-work-report-grid {
    margin-bottom: 10px;
    width: 100%;
/*#7589:Start*/
/*    height: 600px;*/
    height: 450px;
    font-size: 12px;
/*    font-family: 'ç¹ï½¡ç¹§ï½¤ç¹ï½ªç¹§ï½ª','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;*/
    font-family: '繝｡繧､繝ｪ繧ｪ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
}
/*#7589:End*/

.cell {
    height: 100%;
}

.cell-link {
    line-height: 250%;
    display: block;
}

.finish-work-report-dialog .ui-widget-content{
    border: none !important;
}
.finish-work-report-dialog .ui-dialog-buttonpane {
    text-align: center !important;
    padding: 0px !important;
}

.finish-work-report-dialog .ui-dialog-buttonset {
    float: none !important;
}

.finish-work-report-grid input[type="text"] {
	height: 30px !important;
}