<!-- e/wrapper -->
</div>
<!-- s/footer -->
<div class="footer login-footer">
    <div>
        <p>Copyright &copy; 2015 ZENRIN BIZNEXUS Co., Ltd. All Rights Reserved.</p>
    </div>
</div>
<!-- e/footer -->
</body>
</html>
