.grid {
    width: 100%;
    /*height: 800px;*/
    overflow: auto;
    font-size: 11px;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mb5 {
    margin-bottom: 5px;
}

.blue-back {
    background-color: aquamarine;
}

.red-txt {
    color: red !important;
}

.bor-right {
    border-right: #d4d4d4 1px solid !important;
}

.bor-left {
    border-left: #d4d4d4 1px solid;
}

.ui-grid-cell {
    /*background-color: #fdfdfd !important;*/
    border-bottom: #d4d4d4 1px solid;
}

.cell-light {
    background-color: #fdfdfd !important;
}

.cell-dark {
    background-color: #f3f3f3 !important;
}

.not-visible {
    visibility: hidden;
}
.full-width{
    width: 100%;
}
.table-theme tr td, .table-theme tr th{
    text-align: center;
    width:100px;
    min-width:100px;
}
.table-theme tr td:first-child, .table-theme tr th:first-child{
    text-align: left;
}
.table-theme tr td.text-center{
    text-align: center;
}
.time-error{
    display: block;
}
.table-theme tr th.account_name{
    width: 100px;
    min-width: 100px;
}
.table-theme tr th.department_name, .table-theme tr th.business_unit_name{
    width: 210px;
    min-width: 210px;
}
.table-theme tr th.business_unit_name{
    padding: 5px;
}
#report-content{
    width: 100%;
    overflow-x:auto;
}
.report_content_title {
    font-size: 22px!important;
}
.table-theme tr td.number_column{
    text-align: right;
}