#client-table, .client-table {
    font-size: 12px;
}
.cl_content {
    margin: 10px;
}
.ml10 {
    margin-left: 10px;
}
.mb10 {
    margin-bottom: 10px;
}
.xxs {
    width: 400px;
}
.xs {
    width: 270px;
}
.ls {
    width: 220px;
}
.ms {
    width: 170px;
}
.ss {
    width: 120px;
}
.ts {
    width: 100px;
}
.xts {
    width: 30px;
}
.danger {
    background-color: #F7C696;
}
.gray {
    background-color: #BBB;
}