/*#7069:Start*/
.content-change-password .table-simple {
    float: left
}
.content-change-password input[type="password"] {
    padding: 2px 5px;
    float: left;
    box-sizing: border-box;
    width: 200px
}
.content-change-password .validation-error {
    float: left;
    clear: both
}
.content-change-password *[type="submit"] {
    cursor: pointer
}
.button-dialog {
    text-align: center !important
}
.button-dialog .ui-dialog-buttonset {
    float: none !important
}
.button-dialog .close-dialog {
    margin: 5px 0 !important
}
/*#7069:End*/