{include file = "inc/header.tpl"}
{include file = "inc/top-header.tpl"}
{include file = "inc/nav-left.tpl"}
<div class="cell content">
        <div>
            <h1 class="txt-red">{lang('common_msg_access_deny')}</h1>
        </div>
</div>
<!-- e/content -->
</div>
{include file = "inc/footer.tpl"}