.grid {
    width: 100%;
    /*height: 800px;*/
    /*overflow: auto;*/
    font-size: 11px;
    height: auto !important
}

/*#7689:Start*/
#sales_table {
    width: 100%;
    font-size: 11px;
    /*height: 450px !important;*/
}
/*#7689:End*/

.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mb5 {
    margin-bottom: 5px;
}

.blue-back {
    background-color: aquamarine;
}

.red-txt {
    color: red !important;
}

.bor-right {
    border-right: #d4d4d4 1px solid !important;
}

.bor-left {
    border-left: #d4d4d4 1px solid;
}

.ui-grid-cell {
    /*background-color: #fdfdfd !important;*/
    /*border-bottom: #d4d4d4 1px solid;*/
}

.cell-light {
    background-color: #fdfdfd !important;
}

#sales_table td.cell-dark {
    background-color: #f3f3f3;
}

/*#sales_table tr:nth-child(odd) td {*/
    /*background-color: #fdfdfd !important;*/
/*}*/

#sales_table td.gray-row {
    background-color: #999;
}

.not-visible {
    visibility: hidden;
}
.xxs {
    width: 400px;
}
.xs {
    width: 270px;
}
.ls {
    width: 220px;
}
.ms {
    width: 170px;
}
.ss {
    width: 120px;
}
.ts {
    width: 100px;
}
.xts {
    width: 30px;
}

.popup-error {
    display: inline-block;
    overflow: hidden;
    padding: 3px 14px 7px 10px;
    background-color: #fadbdb;
    border: 2px solid #f2a8a8;
    border-radius: 6px;
    color: #ca2d2d;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}

.row-error-icon:before {
    content: '\f456';
    display: inline-block;
    font: normal 20px Genericons;
    top: 5px;
    margin-right: 2px;
    position: relative;
}