@CHARSET "ISO-8859-1";

.grid {
    margin-bottom: 40px;
    width: 100%;
    height: 600px;
    font-size: 12px;
    font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
}
.ui-dialog-content .grid {
    height: 347px
}
.red {
    margin: 10px;
    padding: 10px;
    color: red;
    border: 1px solid red;
    border-color: red;
    display: none;
    font-size: 12px;
}

.ui-grid-pager-panel {
    bottom: -35px!important;
}
.ui-grid-pager-panel input {
    height: 17px!important;
    margin-top: 4px!important;
}

.title {
    color: blue;
}
.grid .ui-grid-cell .ng-scope {
      height: 30px!important;
}
.ui-grid-pager-panel input {
    height: 17px!important;
    margin-top: 4px;
}
.ui-grid-pager-control button {
    background-color: #f0f0ee;
    border: 1px solid #999;
    display: inline-block;
    margin: 0 3px;
    padding: 5px 10px 4px 10px;
    color: #666;
    font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    border-radius: 4px;
    transition: 0.3s;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 99px;
}

.ui-grid-pager-control button:hover { background-color: #eee;border: 1px solid #ccc; }

.ui-grid-disable-selection .ui-grid-cell-focus {  background-color: #f0f0ee!important;}

.ui-grid-pager-panel .ui-grid-pager-control, .ui-grid-pager-count-container {
    display: none;
}

.ui-grid-pager-control {
    padding: 0px !important;
    margin: 0px 0px 20px 0px !important;
}


.blue {
    color: blue;
}

.order-acceptance-grid-wrapper {
    /*width: 100%;
    overflow: scroll;*/
}

.clear{
    clear:both;
}