

/*.sales-slip .border-bott:only-child {
    border-bottom: 1px solid #CCC !important;
}

.sales-slip .border-bott:last-child {
    border-bottom: none;
}*/

.header-color {
    background-color: #EEE !important;
}

.grouping-header {
    border: none !important;
    border-bottom: 1px solid #CCC !important;
    /*background-color: transparent !important;*/
}

.border-right {
    border-right: 1px solid #CCC !important;    
}

.border-top {
    border-top: 1px solid #CCC !important;
}
.border-bottom {
    border-bottom: 1px solid #CCC !important;
}
.border-left {
    border-left: 1px solid #CCC !important;
}

.grouping-footer {
    border: none !important;
}

.cell-footer {
    border: 1px solid #CCC !important;
    border-right: none !important;
}

.btn-wrapper {
    float: left;
    margin-left: 10px;
}

.btn-wrapper .show-etc {
    
}

.btn-wrapper span.show-field-btn-wrapper {
    display:block;
    margin-top: 26px;
}

@-moz-document url-prefix() {
    .btn-wrapper span.show-field-btn-wrapper {
        display:block;
        margin-top: 31px;
    }
}

.search-reconcile-table {
    float: left;
}

.reconcile-dialog {
    z-index: 101;
}

.grid {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
    height: 600px;
    font-size: 12px;
    font-family: 'メイリオ','.HiraKakuInterface-W1', Arial, Helvetica, sans-serif;
}

.header-color {
    font-weight: bold;
}

.btn-blance-wrapper{
    margin-bottom: 5px;
}

.gray-row {
    background-color: #F3F3F3 !important;
}

.ss-checkbox {
  max-width: 25px;
}

.ss-amount {
    min-width: 70px;
}

.prev-ad-receive-amount {
    min-width: 70px;
}

.htCheckboxRendererInput {
    vertical-align: middle !important;
}

.reconcile-dialog .ui-widget-content{
    border: none !important;
}

.reconcile-dialog .ui-dialog-buttonpane {
    text-align: center !important;
    padding: 0px !important;
}

.reconcile-dialog .ui-dialog-buttonset {
    float: none !important;
}

.handsontable.ht_clone_top {
    z-index: 99;
}

.handsontableInputHolder {
    z-index: 98 !important;
    top: 0;
    left: 0;
}